:root {
  --bg: #0d0e10;
  --bg-light: #16191d;
  --bg-lighter: #1b222a;
  --bg-lightest: #2c2f37;
  --bg-light-transparent: rgba(22, 25, 29, 0.5);

  --primary: #254fa8;
  --primary-disabled: #16367a;
  --secondary: #3263ce;
  --tertiary: #3364ce;

  --danger: #9f0900;
  --danger-secondary: #6c0a05;

  --success: #009f2d;
  --success-secondary: #056c13;
}

body {
  background-color: var(--bg);
  color: white;
}

h1, h2, h3, p {
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
}

a {
  color: var(--primary);
  text-decoration: none;

  &:hover {
    color: var(--primary-disabled);
    text-decoration: underline;
  }
}

.subtext, legend {
  color: #919191;
}

.divider {
  border-top: 2px #505050 solid;
  width: 100%;
  height: 1px;
  margin: 8px 0;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

fieldset {
  border: 2px var(--primary) solid;
}

.main {
  padding: 8px 12px;
  width: 300px;

  .profile {
    display: flex;
    gap: 8px;
    align-items: center;

    .profile-details {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }

    .pfp {
      border-radius: 100%;
      width: 100px;
    }
  }

  .project {
    display: flex;
    flex-direction: row;
    gap: 8px;

    .info {
      width: 100%;
    }
  }
}

.navigation {
  display: flex;
  gap: 8px;
}